# Ignore everything by default
*

# Zsh
!.zshrc
!.zsh
!.zsh/*
!.zprofile
!.oh-my-zsh
!.oh-my-zsh/*
!.oh-my-zsh/*/*
!.oh-my-zsh/*/*/*

# Config files
!.config
!.config/*
!.config/*/*
!.config/nitrogen/wallpapers/*
!.config/polybar/scripts/*

# Tmux
!.tmux
!.tmux/*
!.tmux/*/*

# Vim
!.vimrc
!.vim
!.vim/*
!.vim/bundle/Vundle.vim/*
!.vim/autoload/*
!.vim/plugged/*
!.vim/plugged/*/*

# X
!.Xauthority
!.xinitrc
!.Xresources

# Pacman packages
!.pacman
