# Ignore everything by default
*

# Zsh
!.zshrc
!.zsh
!.zsh/*
!.zprofile
!.oh-my-zsh
!.oh-my-zsh/*
!.oh-my-zsh/*/*
!.oh-my-zsh/*/*/*

# Config files
!.config
!.config/*
!.config/*/*
!.config/nitrogen/wallpapers/*
!.config/polybar/scripts/*
.config/Slack/
.config/Slack/*

# Tmux
.tmux/resurrect/
.tmux/resurrect/*
!.tmux
!.tmux/*
!.tmux/*/*

# Vim
!.vimrc
!.vim
!.vim/*
!.vim/bundle/Vundle.vim/*
!.vim/autoload/*
!.vim/plugged/*
!.vim/plugged/*/*

# X
!.Xauthority
!.xinitrc
!.Xresources

# Packages
!.pacman
!.yay

# Images
!screenshots/
!screenshots/*
!*.md

# Git
*/.git/
*/.gitignore/
*/.github/
*/.gitignore

# Personal dotfiles
!.alias
